<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1" />
<link href="{{ .Site.BaseURL }}/normalize.css" rel="stylesheet"/>
<link href="{{ .Site.BaseURL }}/style.css" rel="stylesheet"/>

{{ if eq .Type "sketches" }}
<script>
  const baseURL = {{ .Site.BaseURL }};
</script>
<script src="{{ .Site.BaseURL }}/p5.min.js"></script>
<script src="{{ .Site.BaseURL }}/utils.js"></script>
<script src="{{ .Site.BaseURL }}/{{ .File.Dir }}{{ .Params.basename }}.js"></script>

<style>
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    border: 5px solid #555555;
  }
</style>
<title>{{ .Title }}</title>
{{ else }}
<title>Processing Sketches</title>
{{ end }}
