html, body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
}

canvas {
  margin-top: 50px;
  border: 5px solid #555555;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: black;
  color: #efefef;
  font-family: Helvetica, Arial, sans-serif;
}

#p5_loading {
  top: 50%;
}

h1 {
  text-align: center;
  margin: 1em 0 1em 0;
}

p {
  margin: 0 2em 1em 2em;
}

a {
  color: #efefef;
}

ul.sketches {
  list-style-type: none;
  text-align: center;
  margin: 2em auto;
  padding: 0;
}

ul.sketches li {
  text-align: left;
  display: inline-block;
  margin: 0 1em 4em 0;
  border: 1px solid silver;
}

ul.sketches li a {
  width: 200px;
  height: 200px;
  display: block;
}

#loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  padding: 2em;
}

span.title img {
  margin-bottom: -2px;
}

#titlebar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 1em;
}

#titlebar .back {
  text-decoration: none;
  margin-left: 1em;
  border: 1px solid silver;
  padding: 8px 10px;
  border-radius: 3px;
}

#titlebar .title {
  margin-left: 10px;
}

#titlebar .github {
  float: right;
  margin-right: 1em;
}
